@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* Navbar */

.navbar-brand {
  font-weight: 700;
  color: white;
  margin-left: 10px;
  /* font-size:18px !important; */
}

.nav-link {
  color: white;
  padding-right: 30px !important;
  letter-spacing: 4px;
  font-weight: 500;
  transition: all ease 0.5s;
}
.nav-link:hover {
  padding-right: 35px !important;
  transition: all ease 0.5s;
  color: #4392f1;
  border-bottom: 1px solid #4392f1;
}
#nav {
  padding-left: 0px;
  padding-right: 0px;
  transition: all ease 1s;
}
#nav.shrink {
  height: 60px;
  transition: all ease 1s;
  background-color: rgba(31, 29, 29, 1);
}
.navbar-toggler {
  margin-right: 10px;
  border-color: #4392f1;
  color: #4392f1 !important;
}

/* Gallery */

/* Main Page */
.main-page {
  height: 100vh;
  padding-top: 35vh;
  background: #1c1c1e;
  color: white;
}
.main-page h1 {
  letter-spacing: 7px;
  font-size: 70px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.main-page-img {
  width: 30vw;
  margin-top: -10vh;
}

@media (max-width:990px) {
  .nav-link:hover {
    padding-left: 10px !important;
  }

  .navbar-collapse {
    margin-top: 12px;
    background-color: rgba(31, 29, 29, 0.9);
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .main-page-img {
    width: 30vw;
    margin-top: 20px;
  }
  .main-page h1 {
    letter-spacing: 7px;
    font-size: 40px;
  }
}

/* About us */
.section-carl {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
/* Heading */
.main-head {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 64px;
}

.main-head::after {
  content: "";
  width: 92px;
  height: 4px;
  background-color: #4392f1;
  bottom: -16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .main-head {
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin-bottom: 32px;
  }

  .main-head::after {
    width: 46px;
  }
  .navbar-brand {
    color: white;
    font-size:18px !important;
  }
  .main-page-img {
    width: 50vw;
    margin-top: 5vh;
  }
}

.section-carl-skewbg {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 80vh;
  transform: skewY(-8deg);
  background-color: #dc493a;
  z-index: -1;
}

.about-us {
  position: relative;
}

.about-us-content p {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Image Slider */
.show-neighbors {
  overflow: hidden;
}
.show-neighbors .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}
.show-neighbors .carousel-inner {
  width: 150%;
  left: -25%;
}
.show-neighbors .carousel-item-next:not(.carousel-item-left),
.show-neighbors .carousel-item-right.active {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}
.show-neighbors .carousel-item-prev:not(.carousel-item-right),
.show-neighbors .carousel-item-left.active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}
.show-neighbors .item-third {
  float: left;
  position: relative;
  /* captions can now be added */
  width: 33.33333333%;
}
.item-third img {
  filter: brightness(80%);
}

/* Tean Page CSS */

#team {
  padding-top: 150px;
  padding-bottom: 150px;
}
.img-container {
  position: relative;
  width: 300px;
  margin: 20px;
  display: inline-block;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(31, 29, 29, 0.8);
}

.img-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}
.text h4 {
  padding-top: 20px;
  font-weight: bold;
}
.text p {
  padding: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.text a {
  padding: 10px;
  padding-top: 0px;
  color: white;
  transition-duration: 0.5s;
}
.text a:hover {
  transform: scale(1.5);
  text-decoration: none;
  transition-duration: 0.5s;
}
.w-100 {
  padding: 40px;
}

/* Form */
.form-container {
  padding: 250px;
  padding-top: 85px;
  padding-bottom: 50px;
}
.form-container input,
.form-container textarea {
  margin-bottom: 30px;
}
/* Media Quries */
@media (max-width: 576px) {
  .form-container {
    padding: 50px;
  }
}

/* Footer */

footer .main-footer {
  padding: 10px 0;
  background: #252525;
  color: #fff;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
.widget {
  padding: 13px;
}
.widget-title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 3px solid #50f8dc;
  width: 100px;
  padding-bottom: 25px;
}
/* Social Media Footer */
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 a {
  display: inline-block;
  padding: 8px;
  color: #50f8dc;
}
ul.social-footer2 .non-icons {
  padding: 0px;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

#projects, #papers {
  display: grid;
  height: 100%;
  place-items: center;
  /* text-align: center; */

  grid-template-rows: 75px 1fr;
}

.slider {
  max-width: 1150px;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.slider .project-card {
  background: #252525;
  margin: 0 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.slider .project-card .project-img {
  height: 200px !important;
  width: 100%;
}

.slider .project-card .project-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider .project-card .project-content{
  padding: 10px 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 2;
} 

#projects .slider .project-card .project-content{
  text-align: center;
}

#papers .slider .project-card .project-content .btn{
  text-align: right;
} 

.slider .project-card .project-content .project-title h2{
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
} 

.slider .project-card .project-content .project-sub-title{
  font-weight: 600;
  color: #50f8dc;
  line-height: 20px;
} 

.slider .project-card .project-content .project-info{
  font-size: 2vh;
  
  margin: 0px 0px 10px 0px;
  color: white;

  flex-grow: 2;
} 

.slider .project-card .project-content .btn{
  display: block;
  text-align: left;
  margin: 0px 0px 20px 0px;
} 

.slider .project-card .project-content .btn button{
  background: #50f8dc;
  color: #252525;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.2s;
} 

.slider .project-card .project-content .btn button:hover{
  transform: scale(1.1);
}

.owl-stage-outer {
  height: 100% !important;
}

.owl-stage {
  height: 100% !important;
}

.owl-carousel .owl-stage-outer .owl-item {
  height: 95% !important;
}

.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover{
 background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
background-position: -24px -53px;
}   